content h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(121, 9, 5);
    font-weight: lighter;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    text-align: center;
}

content p{
    text-align: center;
    margin-bottom: 0.8em;
}

.eventTable{
    border-collapse: collapse;
    border-spacing: 0;
}

.dailyEvents th , .dailyEvents td{
border: 2px solid white;
padding: 5px; 
width: 14.28%;
}

/* Rounded corners for the table */
.eventTable th:first-of-type {
    border-top-left-radius: 10px;
}
.eventTable th:last-of-type {
    border-top-right-radius: 10px;
}
.eventTable tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
.eventTable tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.eventTable th{
    background-color: rgb(121, 9, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: white;
}

.eventTable tr{
    background-color: rgb(245, 229, 212);
}

fb-page{
    z-index: 0;
}

@media screen and (max-width: 900px) {
    content table{
        font-size: 90%;
    }
}
@media screen and (max-width: 850px) {
    content table{
        font-size: 80%;
    }
}
@media screen and (max-width: 700px) {
    content table{
        font-size: 70%;
    }
}
@media screen and (max-width: 650px) {
    content table{
        font-size: 60%;
    }
}
@media screen and (max-width: 600px) {
    content table{
        font-size: 55%;
    }
}
@media screen and (max-width: 550px) {
    content table{
        font-size: 51%;
    }
}



