content p {
    font-size: large;
    text-indent: 75px;
    margin-bottom: 30px;
}

content h3 {
    font-size: x-large;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    text-indent: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: rgb(121, 9, 5);
}

content h1{
    text-align: center;
    margin: 5px;
    color:rgb(160, 11, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
