h2 {
    font-family: 'Anton', sans-serif;
    color: #1868b3;
    font-size: larger;
}

h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}


.cardplace0{
    display: flex;
    gap: 10px;
    width: 100%;
    margin: auto;
    margin-top: auto;
    background-color: white;
}
.cardplace1{
    display: flex;
    gap: 10px;
    width: 34%;
    margin: auto;
    margin-top: 1px;
    background-color: white;
}

.cardplace2{
    display: flex;
    gap: 5px;
    width: 65%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgb(0, 0, 0, 1);
    overflow: hidden;
    width: 24.5%;
    transition: all 0.3s ease-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 120px;
}

.card-header img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}



.card:hover {
    transform: scale(1.05);
}

@media (min-width: 800px) {
    .cardplace2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: auto;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 20px rgb(0, 0, 0, 1);
        overflow: hidden;
        width: 98%;
        transition: all 0.3s ease-out;
    }
}

@media (max-width: 800px) {
    .cardplace2 {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
        margin: auto;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 20px rgb(0, 0, 0, 1);
        overflow: hidden;
        width: 98%;
        transition: all 0.3s ease-out;
    }
}