content p {
    text-indent: 75px;
    margin-bottom: 10px;
}

content h3 {
    margin-bottom: 10px;
    text-indent: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: rgb(121, 9, 5);
}
