.facebook {
    margin-left: 110px ;
    margin-top: 20px;
    width: 300px;
    height: 400px;
    /* border: 5px solid #9c3d3d; */
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 5px 4px 9px 2px #969696;
}

.imgContainer {
    float: left;
    position: relative;
    margin-right: 10px;
}

/* Hover on Parent Container */
.imgContainer:hover{
    cursor: pointer;
   }

.imgContainer div{
    
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }

   .imgContainer:hover div{
    width: fit-content;
    max-width: 300px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }


   @media screen and (max-width: 920px){
    .facebook{
        width: 150px;
        height: 200px;
    }
    .imgContainer:hover div{
        width: fit-content;
        max-width: 150px;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7; 
       }
}


content h1{
    font-size: 50px;
    text-align: center;
    margin: 5px;
    color:rgb(160, 11, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}